body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 1% 0;
}

table th {
    width: 50%;
}

.bootstrap-vertical-nav {
	position: fixed;
	margin-top: 4px;
}

.nav-item a
{
  color:black;
  border-left:solid black 3px;
  border-top:solid black 4px;
}

.jumbotron h1
{
font-weight: 200;
 margin-top:-1%; 
 left:10%;
 color:#fff;
}

.jumbotron h4
{

 margin-top:1%;
 float:right;
 color:#fff;
}

.jumbotron 
{
	
    background-image: url(../img/buffalo_waterline.jpeg);
    
	height: 100%;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
    background-color: #FFFF00;
    color: #FFC0CB;
}

.container
{
	overflow:scroll;
}



.logoDiv
{
    margin-top: 40%;
}

.logoDiv .logo
{
	display: block;
	margin-left:20%;
	margin-top:20%;
}
