
html,body {
    margin:0;
    padding:0;
}

body
{
  -webkit-filter: saturate(110%); /* Safari */
  filter: saturate(110%);
}

.keynote2
{
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}

@keyframes fadein {
    from { alpha: 0; }
    to   { alpha: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { alpha: 0; }
    to   { alpha: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { alpha: 0; }
    to   { alpha: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { alpha: 0; }
    to   { alpha: 1; }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}

.PlaybackLine
{
    height:100%;
    width:1px;
    position:absolute;
    z-index: 2;
}

.keynote
{
    left:0;
    width:100%;
    border-bottom:'solid black 2px';
    position:fixed;
    pointer-events: none;
}

.gridNote {
     pointer-events: none;
     filter: saturate(70%) brightness(120%);
     z-index: 2;
}

#MainPlaybackLine
{
    border-left: thick solid red;
}

#RestartPlaybackLine
{
    border-left: thick solid green;
}
.container
{
     padding-top: 5px;
     width:98%;
}

#guitartabs
{
	width:100%;
}
#tabberContainer
{
    height:1000px;
    font-family:monospace;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#gridWrapper
{
  background-color: white;
}

#gridboxContainer
{
	width:98%;
    cursor:crosshair;
    border-radius: 25px;
}

div#testDZ
{
    /* above all elements, even if z-index is used elsewhere
       it can be lowered as needed, but this value surpasses
       all elements when used on YouTube for example.
        takes up 100% of page
         positions to point 0,0 - required for z-index
         *//*
          top: 0; left: 0;
          visibility:hidden;
          background-color: rgba(0,0,0,0.5); transition: visibility 175ms, opacity 175ms;
       */\
   	position:absolute;
    top: 0; left: 0;
    z-index: 4;
    width: 100%; height: 100%;

    background-color: rgba(0,0,0,0.0);

    transition: visibility 175ms, opacity 175ms;

    visibility:none;
    /* dim the page with 50% black background when visible */
    /* a nice fade effect, visibility toggles after 175ms, opacity will animate for 175ms. note display:none cannot be animated.  */

}


#gridbox {
	width:650%;
	height:1000px;
	position:relative;
	/*background:#2F4F4F url('https://s3.amazonaws.com/com.appgrinders.test/images/grid_20.png') repeat;*/
	background:whitesmoke url('grid_horizontal.png') repeat;
}


#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }

.slidecontainer {
    width: 90%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
}
