.sidebar
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* overflow-y:scroll; */
    z-index: 5;
    margin-top:10px;
    margin-bottom:10x;
    padding-left:20px;
	height:750px;
}

#GridboxArray
{
    overflow-y:scroll;
	height:400px;
    width:90%;
    border:4px solid black;
    padding-bottom:50px;
    background:black ;
	border-radius: 15px;
}

.gridCanvas
{
    background:orange;
    z-index: 100;
    border-radius:30px;
}

#trackbox
{
	padding-top:50px;
}

.trackrow
{
    position:relative;
	padding-bottom:1px;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:50px;
	width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
	opacity:.8;
    border:black;
}

#trackbox
{
    width:90%;
    background:beige ;
    /* overflow-y:scroll; */
    height:450px;
}

.trackrow select
{
    height:45px;
    margin-left: auto;
    margin-right: auto;
}

.trackrow .button
{
  border: none;
  background: white;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 36px; */
  margin: 4px 4px;
  height: 30px;
  width: 30px;
}

.trackrow .volumeSlider{
    width:50%;
}

.trackrow:nth-child(1)
{
    background-color: black;

}
.trackrow:nth-child(2)
{
    background-color:  darkgoldenrod;
}
.trackrow:nth-child(3)
{
    background-color:  purple;
}
.trackrow:nth-child(4)
{
    background-color:  red;
}
