.gridCanvas {
    width:100%;
    background:orange;
    z-index: 100;
    border-radius:30px;
}

#sidebar
{
    margin-left: auto;
    margin-right: auto;
    overflow-y:scroll;
	height:500px;
    z-index: 5;
    padding-left:10px;
	width:85%;
}
#sidebar .tab-content
{
    position: sticky;

}
.columnContainer
{
    background:pink url('nebula3.jpg') repeat;
	border-radius: 25px;
    padding-bottom:25px;
    padding-top:25px;
}

.columnSlave
{
    background-color: white;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:10px;
	border-radius: 25px;
	width:95%;

  display: block;
  margin-left: auto;
  margin-right: auto;
	opacity:.8;
    border:black;
}

#GridboxArray{
    width:100%;
    border:4px solid black;
    padding-bottom:50px;
    background:black ;
	border-radius: 15px;
}

#trackbox
{
    margin-left: auto;
    margin-right: auto;
	padding-top:50px;
    overflow-y:scroll;
    height:250px;
    width:50%;
    background:pink url('nebula3.jpg') repeat;
	border-radius: 25px;
}

.trackrow
{
    position:relative;
	padding-bottom:10px;
	padding-top:10px;
	padding-left:50px;
	width:80%;
	border-radius: 25px;

  display: block;
  margin-left: auto;
  margin-right: auto;
	opacity:.8;
    border:black;
}

.trackrow .button
{
  border: none;
  background: white;
  padding: 2px;
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 4px;
    border-radius: 50%;
}

.trackrow .volumeSlider{
    width:50%;
}
/*
.trackrow:nth-child(1)
{
    background-color: black;

}
.trackrow:nth-child(2)
{
    background-color:  darkgoldenrod;
}
.trackrow:nth-child(3)
{
    background-color:  purple;
}
.trackrow:nth-child(4)
{
    background-color:  red;
}
*/
